* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $primary;
    font-size: 16px;
}

.container {
    width: 100%;
}

%section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.section_content {
    @extend %section_content;
}

.section_title {
    @include font-size(32);
    color: $primary;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}