@import "reset";
@import "variables";
@import "mixins";
@import "global";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/background-home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 160px 0;
    
    &_title {
        color: white;
        font-family: 'Roboto Slab', serif;
        @include font-size(36);
        letter-spacing: 0.1rem;
    }
    
    &_description {
        @include font-size(16);
        line-height: 1.5;
        color: white;
        margin: 20px 0 50px 0;
    }
    
    &_form {
        @extend %section_content;
    }

    &_group {
        display: flex;
        position: relative;
        width: 100%;
    }
}

#links_text {
    width: 100%;
    color: $secondary;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $secondary;
    font-weight: bold;
    padding: 10px 0;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    @include font-size(16);

    &::placeholder {
        color: $secondary;
    }
}

#links_close {
    position: absolute;
    right: 0;
    bottom: 30px;
    color: white;
    @include font-size(16);
    font-weight: bold;
    cursor: pointer;
    display: none;
}

#links_btn {
    width: 100%;
    color: white;
    background-color: $secondary;
    border: 0;
    @include font-size(16);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.top5 {
    padding: 50px 0;
    
    &_links {
        width: 100%;
    }
}

.top5_links_item {
    display: flex;
    justify-content: space-between;
    
    &:not(:last-child) {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $light-gray;
    }
    
    &_link {
        @include font-size(16);
        font-weight: bold;
    }
    
    &_number {
        @include font-size(16);
        color: $gray;
    }
}

.hits {
    background-color: $light-gray;
    padding: 70px 0;
    position: relative;
    
    img {
    position: absolute;
    top: 0; 
    margin: 0 auto;
    }
    
    &_numbers {
        font-family: 'Roboto Slab', serif;
        @include font-size(32);
        padding: 15px;
        background-color: white;
        border: 1px solid #d2d2d2;
        border-radius: 5px;
    }
    
    &_description {
        @include font-size(16);
        color: $gray;
        margin-top: 10px;
    }
}

.footer {
    width: 100%;
    padding: 20px 0;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    a {
        @include font-size(20);
        text-decoration: none;
        color: $primary;
    } 
}

.footer_content_social {
    margin-top: 20px;

    a:last-child {
        margin-left: 10px;
    } 
}

@media (min-width: 576px) {
    .links_form {
        flex-direction: row;
        
        &_group {
            width: 70%;
        }
    }

    #links_text {
        margin-bottom: 0;
    }

    #links_close {
        bottom: 10px;
    }

    #links_btn {
        width: 30%;
        margin-left: 10px;
    }

    .footer_content {
        flex-direction: row;
        
        &_social {
            margin-top: 0;
        }
    }    
}

@media (min-width: 992px) {
    .links_group {
        width: 80%;
    }

    #links_btn {
        width: 20%;
    }
}